body {
    margin: 0;
    height: 900px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* To make the sides have the body's height*/
}

#left-side, #right-side {
    margin-top: 0;
    margin-left: 0;
}

#left-side {
    width: 530px;
    display: flex;
}

#leaves-img {
    height: 100%;
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 200px;
    width: 530px; /* Cannot use percentages because of absolute positioning*/
    height: 160px;
    background: rgba(0,0,0,0.5);
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 1em;
    width: max-content;
    margin: 0;
}

#logo {
    height: 130px;
}