body {
    margin: 0;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* To make the sides have the body's height*/
}

/*LEFT SIDE STYLE*/

#left-side, #right-side {
    margin-top: 0;
    margin-left: 0;
}

#left-side {
    width: 550px;
    display: flex;
    position: relative;
}

#leaves-img {
    height: 100%;
    width: 100%;
}

.logo-container {
    position: absolute;
    top: 200px;
    width: 100%; /* Cannot use percentages because of absolute positioning*/
    height: 160px;
    background: rgba(0,0,0,0.5);
    margin: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: norse-bold;
    src: url(fonts/Norse-Bold.otf);
}

h1 {
    height: 1em;
    width: max-content;
    margin: 0;
    font-family: norse-bold;
    font-size: 100px;
}

#logo {
    height: 130px;
}

/*RIGHT SIDE STYLE*/

#right-side {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-right: 0;
}

#top-part {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: rgb(250, 250, 250);
}

p {
    height: 100px;
    font-size: 24px;
    font-weight: bold;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-bottom: 40px;
}

#middle-part {
    height: 350px;
    box-shadow: 0px 5px 4px rgb(180, 177, 177);
    width: 100%;
    z-index: 2;
}

#bottom-part {
    width: 100%;
    /*height: 200px;*/
    background-color: rgb(250, 250, 250);
    z-index: 1;
    flex-grow: 1;
}